openapi: 3.0.3
info:
  title: EFI Certification and Funnel API (Draft)
  version: 0.2.0
servers:
  - url: https://executivefunctioninginstitute.com/api
paths:
  /leads:
    post:
      summary: Capture a consented lead and fan-out to CRM/ESP webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, consent, lead_type, source]
              properties:
                name: { type: string }
                email: { type: string, format: email }
                consent: { type: boolean }
                lead_type: { type: string }
                source: { type: string }
      responses:
        '200':
          description: Lead accepted
  /sign-download:
    get:
      summary: Generate a short-lived signed URL for gated PDF download
      parameters:
        - in: query
          name: asset
          required: true
          schema:
            type: string
            enum: [gap-analyzer, launch-plan]
      responses:
        '200':
          description: Signed URL generated
  /download-file:
    get:
      summary: Validate signed parameters and redirect to protected PDF asset
      parameters:
        - in: query
          name: asset
          required: true
          schema: { type: string }
        - in: query
          name: exp
          required: true
          schema: { type: integer }
        - in: query
          name: sig
          required: true
          schema: { type: string }
      responses:
        '302':
          description: Redirect to static asset
        '403':
          description: Invalid signature
        '410':
          description: Link expired
  /track-event:
    post:
      summary: Capture client analytics/UX funnel events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_name, page]
              properties:
                event_name: { type: string }
                page: { type: string }
                source: { type: string }
                properties:
                  type: object
      responses:
        '200':
          description: Event accepted
