openapi: 3.0.3
info:
  title: EFI Certification and Funnel API (Draft)
  version: 0.6.0
servers:
  - url: https://executivefunctioninginstitute.com/api
paths:
  /leads:
    post:
      summary: Capture a consented lead and fan-out to CRM/ESP webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, consent, lead_type, source]
              properties:
                name: { type: string }
                email: { type: string, format: email }
                consent: { type: boolean }
                lead_type: { type: string }
                source: { type: string }
                offer_code: { type: string }
                discount_percent: { type: number }
                metadata: { type: object }
      responses:
        '200':
          description: Lead accepted
  /sign-download:
    get:
      summary: Generate a short-lived signed URL for gated PDF download
      parameters:
        - in: query
          name: asset
          required: true
          schema:
            type: string
            enum: [gap-analyzer, launch-plan]
      responses:
        '200':
          description: Signed URL generated
  /download-file:
    get:
      summary: Validate signed parameters and redirect to protected PDF asset
      parameters:
        - in: query
          name: asset
          required: true
          schema: { type: string }
        - in: query
          name: exp
          required: true
          schema: { type: integer }
        - in: query
          name: sig
          required: true
          schema: { type: string }
      responses:
        '302':
          description: Redirect to static asset
        '403':
          description: Invalid signature
        '410':
          description: Link expired
  /track-event:
    post:
      summary: Capture client analytics/UX funnel events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_name, page]
              properties:
                event_name: { type: string }
                page: { type: string }
                source: { type: string }
                properties:
                  type: object
      responses:
        '200':
          description: Event accepted
  /sync-progress:
    get:
      summary: Retrieve server-side learning progress snapshot by email
      parameters:
        - in: query
          name: email
          required: true
          schema: { type: string, format: email }
      responses:
        '200':
          description: Progress fetched
    post:
      summary: Persist learning progress to server-side storage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, progress]
              properties:
                email: { type: string, format: email }
                progress: { type: object }
      responses:
        '200':
          description: Progress persisted
  /verify:
    post:
      summary: Issue a server-signed purchase receipt token after checkout verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, email, items]
              properties:
                action: { type: string, enum: [issue_purchase] }
                email: { type: string, format: email }
                payment_intent_id: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      id: { type: string }
                      name: { type: string }
                      price: { type: number }
      responses:
        '200':
          description: Receipt issued
    get:
      summary: Verify a signed receipt token for a product and optional credential ID
      parameters:
        - in: query
          name: receipt
          required: true
          schema: { type: string }
        - in: query
          name: product
          required: false
          schema: { type: string }
        - in: query
          name: credential_id
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Verification completed
  /stripe-webhook:
    post:
      summary: Stripe webhook ingestion endpoint for server-side payment reconciliation
      responses:
        '200':
          description: Event accepted
  /auth:
    get:
      summary: Managed authentication config or current user profile lookup
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [config, me]
      responses:
        '200':
          description: Auth config or profile resolved
    post:
      summary: Managed authentication register/login/logout actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [register, login, logout]
                name: { type: string }
                email: { type: string, format: email }
                password: { type: string }
                access_token: { type: string }
      responses:
        '200':
          description: Auth action completed
  /submissions:
    get:
      summary: Fetch submission review statuses for a user
      parameters:
        - in: query
          name: email
          required: true
          schema: { type: string, format: email }
      responses:
        '200':
          description: Submission statuses returned
    post:
      summary: Submit module/capstone for AI rubric grading or process due feedback release notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [submit_module, submit_capstone, process_due_feedback]
                email: { type: string, format: email }
                module_id: { type: string }
                evidence_url: { type: string }
                notes: { type: string }
                secret: { type: string, description: "Required when action=process_due_feedback and EFI_SUBMISSIONS_CRON_SECRET is configured" }
      responses:
        '200':
          description: Submission accepted or release processing completed
  /coach-directory:
    get:
      summary: Fetch public coach directory records, or include pending records for privileged reviewers/admins
      parameters:
        - in: query
          name: include_pending
          required: false
          schema: { type: integer, enum: [0, 1] }
        - in: query
          name: q
          required: false
          schema: { type: string }
        - in: query
          name: email
          required: false
          schema: { type: string, format: email }
        - in: query
          name: specialty
          required: false
          schema: { type: string }
        - in: query
          name: mode
          required: false
          schema: { type: string, enum: [virtual, in-person] }
      responses:
        '200':
          description: Directory records returned
    post:
      summary: Submit directory listing or moderate listing status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [submit_listing, moderate_listing, update_listing]
                id: { type: string }
                name: { type: string }
                email: { type: string, format: email }
                city: { type: string }
                state: { type: string }
                zip: { type: string }
                specialty: { type: string }
                delivery_modes:
                  type: array
                  items: { type: string }
                website: { type: string }
                credential_id: { type: string }
                bio: { type: string }
                moderation_status: { type: string, enum: [approved, rejected, pending] }
                verification_status: { type: string, enum: [verified, rejected, pending] }
                moderation_notes: { type: string }
                company: { type: string, description: "Honeypot field; must be empty." }
      responses:
        '200':
          description: Listing accepted or moderation action applied
